anexinet-test/anexinettest/.vs/
anexinet-test/anexinettest/anexinettest/anexinettest.Android/obj/Debug/81/android/assets/machine.config
anexinet-test/anexinettest/anexinettest/anexinettest.Android/obj/
anexinet-test/anexinettest/anexinettest/anexinettest/obj/
anexinet-test/anexinettest/anexinettest/anexinettest.iOS/obj/
anexinet-test/anexinettest/anexinettest/anexinettest.Android/bin/
anexinet-test/anexinettest/anexinettest/anexinettest/bin/
